@use './globals.scss' as *;

/* Colors */

$customizationPanelPrimary: rgb(39, 36, 69);
$customizationPanelSecondary: rgb(89, 105, 171);

$textDark: rgb(3, 13, 33);
$textLight: rgb(233, 233, 233);

$background: rgb(207, 221, 162);